<div class="person">
    <div class="box-left">
        <img src="http://localhost:4800/images/{{@persondata.pic}}">
    </div>
    <div class="box-right">
         <h3 style="color: rgb(77, 33, 33)">{{@persondata.name}}</h3>
         <br>
         <br>
         <h5><i>{{@persondata.position}}</i></h5>
    </div>
</div>