<div>
    <h1> Our Services </h1>
  <!-- <DataBox @title="Industries"></DataBox>
   <DataBox @title="Software Products"></DataBox>
   <DataBox @title="Technologies"></DataBox> -->

     {{#each @model as |dataitem|}}
         <DataBox @boxdata={{dataitem}} />
     {{/each}}
</div>